* 
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: segoe UI;
}

/* modal css  */

.overlay 
{
    width:100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, .5);
    position: absolute;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.update_form
{
    width: 40%;
    padding: 50px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 20px;
}

.update_form input 
{
    width: 100%;
    font-size: 16px;
    height: 40px;
    text-indent: 20px;
    border-radius: 8px;
    border: 1px solid lightgray;
    outline: none;
}


/* css for create form  */

.create
{
    width: 100%;
    padding:20px 5%;
    /* background-color: red; */
}

.section_title
{
    font-weight: 300;
}

.fields
{
    width: 100%;
    /* background-color: green; */
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    align-items: flex-start;
}

.fields .input-box
{
    width: 28%;
    height: 60px;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
   
    
}

.input-box input 
{
    width: 100%;
    font-size: 16px;
    text-indent: 20px;
    height: 40px;
    border-radius: 8px;
    border: 1px solid lightgray;
    outline: none;
}

.input-box p 
{
    text-indent: 20px;
    color: #dc0c0c;
    font-weight: bold;
}



.fields input:focus
{
    box-shadow: 0 0 3px #278ee2;
}

/* input::placeholder
{
    color: red;
} */

.main_btn
{
    padding: 12px 35px;
    /* font-size: 20px; */
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 5px;
    background-color: #278ee2;
    color: white;
    border: none;
    cursor: pointer;
    transition: .3s;
}


/* main css  */






.main
{
    width: 100%;
    padding: 50px 5%;
    background-color: lightgray;
    display: flex;
    column-gap: calc(20%/3);
    flex-wrap: wrap;
    row-gap: 20px;
}



.card 
{
    width: 20%;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 3px gray;
}

.card-img
{
    width: 100%;
    height: 200px;
    /* background-color: yellow; */
    overflow: hidden;
}

.card-img > img 
{
    width: 100%;
    transform: scale(1.3);
}


.card-details
{
    width: 100%;
    padding: 20px;
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: segoe UI;
    row-gap: 15px;
}

.card-details>h1 
{
    font-size: 28px;
}

.card-details>button 
{
    padding: 12px 35px;
    /* font-size: 20px; */
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 5px;
    background-color: #278ee2;
    color: white;
    border: none;
    cursor: pointer;
    transition: .3s;
}

.card-details>button:hover
{
    background-color: #1571bc;
}

.card-details>button:active
{
    background-color: #278ee2;
}

.actions
{
    display: flex;
    column-gap: 20px;
    font-size: 20px;
}

.actions i 
{
    cursor: pointer;
    transition: .3s;
}

.actions i:hover 
{
    transform: scale(1.2);
}

.explore
{
    color: rgb(56, 160, 201);
}

.edit 
{
    color: green;
}

.delete
{
    color: red;
}